@model WebsiteTrangSuc.Models.Chitietdonhang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chitietdonhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDonHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
