@model WebsiteTrangSuc.Models.BaiVietHeThong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiVietHeThong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cLangID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cLangID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cUpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cUpdateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
