@model WebsiteTrangSuc.Models.HangSX

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/Admin_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HangSX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LienHe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LienHe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThucThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThucThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgonNgu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgonNgu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
